# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.lock
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
build/
**/doc/api/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.symlinks/
ephemeral/
Generated.xcconfig
Flutter-Generated.xcconfig
flutter_export_environment.sh



# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Xcode
#
Pods/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/

yarn.lock
package-lock.json

android/.settings/

tmp_remote_config/

_xcode.env
.xcode.env
.xcode.env.local


